<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.10">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>OS_PROJECT</name>
          <description>Name of OpenShift project, new or existing one (required)</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_REPOSITORY</name>
          <description>Docker image repository (default: artifactorycn.netcracker.com:17023)</description>
          <defaultValue>artifactorycn.netcracker.com:17023</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_IMAGE_NAME</name>
          <description>Docker image name for deployment (default: telegraf/telegraf-elasticsearch:latest)</description>
          <defaultValue>telegraf/telegraf-elasticsearch:latest</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MEMORY_REQUEST</name>
          <description>Minimum amount of memory the container should use. Value can be specified with SI suffices (E, P, T, G, M, K, m) or their power-of-two-equivalents (Ei, Pi, Ti, Gi, Mi, Ki). (default: 256Mi)</description>
          <defaultValue>256Mi</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CPU_REQUEST</name>
          <description>Minimum amount of CPU the container should use (default: 200m)</description>
          <defaultValue>200m</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MEMORY_LIMIT</name>
          <description>Maximum amount of memory the container can use. Value can be specified with SI suffices (E, P, T, G, M, K, m) or their power-of-two-equivalents (Ei, Pi, Ti, Gi, Mi, Ki). (default: 256Mi)</description>
          <defaultValue>256Mi</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CPU_LIMIT</name>
          <description>Maximum amount of CPU the container can use (default: 200m)</description>
          <defaultValue>200m</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OS_HOST</name>
          <description>URL of OpenShift server (required)</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OS_ADMINISTRATOR_NAME</name>
          <description>Name of OpenShift user, new or existing one. If user and project exists, then user should be owner or administrator of the project</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OS_ADMINISTRATOR_PASSWORD</name>
          <description>Password of OpenShift user.</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SM_DB_HOST</name>
          <description>The host of the System Monitoring database.</description>
          <defaultValue>http://influxdb:8086</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SM_DB_NAME</name>
          <description>The name of the database in System Monitoring.</description>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SM_DB_USERNAME</name>
          <description>The name of the database user in System Monitoring.</description>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>SM_DB_PASSWORD</name>
          <description>The password of the database user in System Monitoring.</description>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ELASTICSEARCH_HOST</name>
          <description>Host of monitored Elasticsearch</description>
          <defaultValue>elasticsearch</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ELASTICSEARCH_PORT</name>
          <description>Http port of monitored Elasticsearch</description>
          <defaultValue>9200</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>TLS_HTTP_ENABLED</name>
          <description>TLS encryption is enabled for Elasticsearch HTTP interface (HTTPS).</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ELASTICSEARCH_USERNAME</name>
          <description>Credentials for authentication in elasticsearch: Login</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>ELASTICSEARCH_PASSWORD</name>
          <description>Credentials for authentication in elasticsearch: Password</description>
          <defaultValue></defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ELASTICSEARCH_DBAAS_ADAPTER_HOST</name>
          <description>Host of monitored Elasticsearch DBaaS Adapter</description>
          <defaultValue>dbaas-elasticsearch-adapter</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ELASTICSEARCH_DBAAS_ADAPTER_PORT</name>
          <description>Http port of monitored Elasticsearch DBaaS Adapter</description>
          <defaultValue>8080</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ELASTICSEARCH_DATA_NODES_COUNT</name>
          <description>Number of Elasticsearch data nodes. Required for smoke tests index settings.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ELASTICSEARCH_TOTAL_NODES_COUNT</name>
          <description>Number of Elasticsearch data nodes. If information about failed nodes required</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SERVICE_NAME</name>
          <description>Name of service and deployment config</description>
          <defaultValue>elasticsearch-monitoring</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NODE_LABELS</name>
          <description>The value of the custom required node affinity rules.</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REQUIRED_ANTI_AFFINITY</name>
          <description>The value of the custom required pod anti-affinity rules.</description>
          <defaultValue>component=elasticsearch-monitoring</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PREFERRED_ANTI_AFFINITY</name>
          <description>The value of the custom preferred pod anti-affinity rules.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REQUIRED_AFFINITY</name>
          <description>The value of the custom required pod affinity rules.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PREFERRED_AFFINITY</name>
          <description>The value of the custom preferred pod affinity rules.</description>
          <defaultValue>component=elasticsearch</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.29">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.2.0">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>git@git.netcracker.com:PROD.Platform.ElasticStack/elasticsearch-telegraf.git</url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/master</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>jenkins/jobs/deploy_telegraf/Jenkinsfile</scriptPath>
    <lightweight>false</lightweight>
  </definition>
  <triggers/>
</flow-definition>